.App {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100vh;
  background-color: rgba(56, 111, 143, 0.808);

  
}

.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 5px 40px rgb(255, 255, 255, 0.8);

  ul{
    list-style-type: none;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 0px;
    margin: auto;
    box-sizing: border-box;
    li{
      padding-left: 30px;
      cursor: pointer;
      
      &:hover{
        background-color: rgba(255, 255, 255, 0.8);
        color: black;
        transition: all 0.3s ease-out;

      }
    }
    h3{
      padding-left: 30px;

    }
  }

  .foot-Section-Sidebar{
    margin-top: auto;
    margin-bottom: 50px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0);
    box-shadow: 2px 2px 25px rgb(255, 255, 255, 0.5);
    border-radius: 30px;
    width: 180px;
    padding-bottom: 20px;

    button{

      border: none;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 0);
      color: rgba(255, 255, 255, 0.990);
      text-shadow: black 1px 1px 2px;
      padding: 5px 20px;

    }

  }
  h2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    flex-wrap: nowrap;
  }
}